<div class="d-flex flex-column gap-4">
  <div class="cart-container">
    <label class="fs-3 text-dark-emphasis fw-medium">Cart</label>
    <div id="cart" class="">
      <!-- start cart -->
      <!-- display when no item in cart -->
      <div
        class="cart-no_item text-center bg-white p-3 rounded-2"
        ng-show="!cartItems || !cartItems.length"
      >
        <div class="cart-image p-3 w-75 mx-auto">
          <img src="./src/img/cart-img.png" class="w-25" alt="" />
        </div>
        <h5 class="text-secondary">Empty cart</h5>
        <p class="text-body-secondary">
          Feel free to browse more or take a look at our suggestions below!
        </p>
      </div>

      <!-- display when there is item in cart -->
      <div class="row gap-3" ng-show="cartItems && cartItems.length">
        <div class="col bg-white rounded-2">
          <table class="table table-borderless p-0 align-middle text-center">
            <tr>
              <th class="fw-normal text-secondary d-flex justify-content-end">
                <input
                  type="checkbox"
                  ng-model="isCheckAll"
                  class="form-check-input border-secondary-subtle"
                />
              </th>
              <th class="fw-normal text-secondary text-start">All</th>
              <th class="fw-normal text-secondary">Price</th>
              <th class="fw-normal text-secondary">Quantity</th>
              <th class="fw-normal text-secondary">Total</th>
              <th class="fw-normal text-secondary">
                <i class="fa-solid fa-trash text-secondary"></i>
              </th>
            </tr>
            <tr ng-repeat="item in cartItems">
              <td class="">
                <div
                  class="d-flex flex-column justify-content-center align-items-end"
                  style="height: 5rem"
                >
                  <input
                    type="checkbox"
                    ng-model="cartItems[$index].checked"
                    ng-checked="isCheckAll || cartItems[$index].checked"
                    class="itemCheckbox form-check-input border-secondary-subtle"
                  />
                </div>
              </td>
              <td class="">
                <a
                  href="#!products/{{item.id}}"
                  class="d-flex align-items-center gap-3 text-decoration-none"
                >
                  <div class="item-img">
                    <img
                      src="{{item.thumbnail}}"
                      class="rounded-2"
                      maintain-ratio
                      style="width: 5rem; object-fit: cover"
                      alt=""
                    />
                  </div>
                  <div
                    class="item-info d-flex flex-column h-100 w-fit-content text-start d-none d-md-flex"
                  >
                    <div class="text-dark-emphasis fw-medium mb-1">
                      {{item.title}}
                    </div>
                    <small
                      class="text-primary bg-primary-subtle rounded-3 px-1 w-fit-content"
                      style="font-size: 0.7rem"
                    >
                      <i class="fa-solid fa-circle-check"></i>{{item.brand}}
                    </small>
                    <small class="text-secondary pt-3"
                      >Stock: {{item.stock}}
                    </small>
                  </div>
                </a>
              </td>
              <td class="text-danger-emphasis">
                {{item.price - item.price * item.discountPercentage /100 |
                number: 2}}<sup>$</sup>
              </td>
              <td>
                <div class="product-amount">
                  <div
                    class="d-flex gap-1 text-secondary justify-content-center"
                  >
                    <button
                      ng-click="amountDown($index)"
                      class="btn btn-sm border border-secondary px-1 px-sm-2"
                      ng-class="{'opacity-25': cartItems[$index].quantity < 2}"
                    >
                      <i class="fa-solid fa-minus"></i>
                    </button>
                    <input
                      id="product-amount"
                      class="form-control form-control-sm rounded-2 fw-medium text-center border-secondary"
                      style="width: 2.8rem"
                      ng-model="quantityCollection[$index]"
                      ng-blur="
                      quantityCollection[$index] = (quantityCollection[$index] < 1 
                      || quantityCollection[$index] > cartItems[$index].stock) 
                      ? 1 : quantityCollection[$index]"
                      type="number"
                    />
                    <button
                      class="btn btn-sm border border-secondary px-1 px-sm-2"
                      ng-click="amountUp($index)"
                    >
                      <i class="fa-solid fa-plus"></i>
                    </button>
                  </div>
                </div>
              </td>
              <td class="text-dark-emphasis">
                {{(item.price - item.price * item.discountPercentage /100) *
                cartItems[$index].quantity | number: 2}}<sup>$</sup>
              </td>
              <td>
                <i
                  class="fa-solid fa-trash text-danger"
                  ng-click="deleteItem(activeUser.username, item.id)"
                  style="cursor: pointer"
                ></i>
              </td>
            </tr>
          </table>
        </div>
        <div class="side-board col-12 col-lg-3 p-0">
          <div
            class="board-content rounded-bottom-2 bg-white p-3 border-3 border-top border-sub"
          >
            <!-- START BOARD CONTENT -->
            <h5 class="text-dark-emphasis">Billing</h5>
            <hr class="text-secondary" />
            <div class="d-flex justify-content-between">
              <span class="text-secondary">Total:</span>
              <h3 class="text-dark-emphasis">
                {{getTotalBilling() | number: 2}}<sup>$</sup>
              </h3>
            </div>
            <!-- END BOARD CONTENT -->
          </div>

          <div class="order-btn mt-3">
            <button class="btn w-100 fw-bold text-white bg-accent">
              ORDER NOW
            </button>
          </div>

          <!-- BANNER -->
          <section
            id="banner-container"
            class="rounded-2 d-none d-md-block mt-3"
          >
            <div id="banner" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div
                  class="carousel-item"
                  ng-class="{'active':banner.active}"
                  ng-repeat="banner in banners"
                >
                  <a href="{{banner.link}}">
                    <img
                      src="{{banner.image}}"
                      class="d-block w-100 object-fit-cover rounded-2"
                    />
                  </a>
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#banner"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#banner"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </section>
        </div>
      </div>
      <!-- end cart -->
    </div>
  </div>

  <!-- BEST-RATE  -->
  <section
    id="best_rated-container"
    class="rounded-2 p-2 p-lg-3 row"
    style="background: linear-gradient(to bottom, #cfe2ff, white)"
  >
    <div class="d-flex align-items-center gap-2 mb-1">
      <span class="fw-medium fs-5 text-secondary-emphasis">Best rated</span>
    </div>
    <div id="best_rated" class="carousel slide">
      <div class="carousel-inner">
        <div
          class="carousel-item"
          ng-class="{'active': $index == 0}"
          ng-repeat="product_chunk in bestRatedProductsCarousel"
        >
          <div
            class="row row-cols-2 row-cols-md-3 row-cols-lg-6 row-gap-2 gx-2"
          >
            <div class="col" ng-repeat="p in product_chunk">
              <a
                href="#!products/{{p.id}}"
                class="card border-1 position-relative text-decoration-none"
                style="min-height: 100%"
              >
                <div class="p-3 position-relative">
                  <img
                    src="{{p.thumbnail}}"
                    class="card-img-top img-fluid object-fit-cover rounded-2"
                    maintain-ratio
                    width="100%"
                    style="height: 160px"
                    alt=""
                  />
                  <span
                    class="position-absolute text-secondary bg-light end-0 px-1 rounded-start-1"
                    style="font-size: 0.7rem; top: 1.3rem"
                    >-{{p.discountPercentage}}%</span
                  >
                </div>
                <div class="card-body d-flex flex-column">
                  <div
                    class="small text-primary fw-medium bg-primary-subtle w-fit-content px-1 rounded-pill"
                  >
                    {{p.brand}}
                  </div>
                  <div
                    class="small text-dark-emphasis text-nowrap overflow-hidden"
                    style="text-overflow: ellipsis"
                  >
                    {{p.title}}
                  </div>
                  <div class="d-flex gap-1" style="font-size: 0.7rem">
                    <div
                      class="progress"
                      role="progressbar"
                      aria-valuenow="{{(p.rating / 5) * 100}}"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      style="background-clip: text"
                    >
                      <div
                        class="progress-bar bg-yellow d-flex flex-row rounded-0 align-items-center justify-content-start"
                        ng-style="{'width': ((p.rating / 5) * 100) + '%'}"
                        style="background-clip: text; color: transparent"
                      >
                        <i class="fa-solid fa-star"></i
                        ><i class="fa-solid fa-star"></i
                        ><i class="fa-solid fa-star"></i
                        ><i class="fa-solid fa-star"></i
                        ><i class="fa-solid fa-star"></i>
                      </div>
                    </div>

                    <span class="text-secondary"> {{p.rating}} </span>
                  </div>
                  <div class="flex-grow-1 mt-2">
                    <span class="fs-5 fw-medium"
                      >{{p.price - (p.price * p.discountPercentage / 100) |
                      number: 2}}</span
                    >
                    <sup>$</sup>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#best_rated"
        data-bs-slide="prev"
        style="
          top: 50%;
          transform: translateY(-50%);
          width: fit-content;
          height: fit-content;
        "
      >
        <span
          class="carousel-control-prev-icon bg-secondary bg-opacity-50 rounded-circle"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#best_rated"
        data-bs-slide="next"
        style="
          top: 50%;
          transform: translateY(-50%);
          width: fit-content;
          height: fit-content;
        "
      >
        <span
          class="carousel-control-next-icon bg-secondary bg-opacity-50 rounded-circle"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <!-- SUGGESTION  -->
  <div
    aria-label="first major col second block"
    class="bg-white rounded-2 p-3 mt-3 row"
  >
    <section>
      <div class="d-flex align-items-center gap-2 mb-1">
        <h5 class="fw-medium text-secondary">Suggestion</h5>
      </div>
      <div id="suggestion" class="carousel slide">
        <div class="carousel-inner">
          <div
            class="carousel-item"
            ng-class="{'active': $index == 0}"
            ng-repeat="product_chunk in suggestionCarousel"
          >
            <div
              class="row row-cols-2 row-cols-sm-3 row-cols-lg-6 row-gap-2 g-3 g-lg-2"
            >
              <div class="col" ng-repeat="p in product_chunk">
                <a
                  href="#!products/{{p.id}}"
                  class="card border-1 position-relative text-decoration-none"
                  style="min-height: 100%"
                >
                  <div class="p-3 position-relative">
                    <img
                      src="{{p.thumbnail}}"
                      class="card-img-top img-fluid object-fit-cover rounded-2"
                      maintain-ratio
                      width="100%"
                      style="height: 160px"
                      alt=""
                    />
                    <span
                      class="position-absolute text-secondary bg-light end-0 px-1 rounded-start-1"
                      style="font-size: 0.7rem; top: 0.5rem"
                      >-{{p.discountPercentage}}%</span
                    >
                  </div>
                  <div class="card-body d-flex flex-column">
                    <div
                      class="small text-primary fw-medium bg-primary-subtle w-fit-content px-1 rounded-pill text-nowrap overflow-hidden"
                      style="text-overflow: ellipsis"
                    >
                      {{p.brand}}
                    </div>
                    <div
                      class="small text-dark-emphasis text-nowrap overflow-hidden"
                      style="text-overflow: ellipsis"
                    >
                      {{p.title}}
                    </div>
                    <div class="d-flex gap-1" style="font-size: 0.7rem">
                      <div
                        class="progress"
                        role="progressbar"
                        aria-valuenow="{{(p.rating / 5) * 100}}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="background-clip: text"
                      >
                        <div
                          class="progress-bar bg-yellow d-flex flex-row rounded-0 align-items-center justify-content-start"
                          ng-style="{'width': ((p.rating / 5) * 100) + '%'}"
                          style="background-clip: text; color: transparent"
                        >
                          <i class="fa-solid fa-star"></i
                          ><i class="fa-solid fa-star"></i
                          ><i class="fa-solid fa-star"></i
                          ><i class="fa-solid fa-star"></i
                          ><i class="fa-solid fa-star"></i>
                        </div>
                      </div>

                      <span class="text-secondary"> {{p.rating}} </span>
                    </div>
                    <div class="flex-grow-1 mt-2">
                      <span class="fs-5 fw-medium">
                        {{p.price - (p.price * p.discountPercentage / 100) |
                        number: 2}}
                      </span>
                      <sup>$</sup>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#suggestion"
          data-bs-slide="prev"
          style="
            top: 50%;
            transform: translateY(-50%);
            width: fit-content;
            height: fit-content;
          "
        >
          <span
            class="carousel-control-prev-icon bg-secondary bg-opacity-50 rounded-circle"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#suggestion"
          data-bs-slide="next"
          style="
            top: 50%;
            transform: translateY(-50%);
            width: fit-content;
            height: fit-content;
          "
        >
          <span
            class="carousel-control-next-icon bg-secondary bg-opacity-50 rounded-circle"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
  </div>
</div>
