<div class="row gap-3">
  <aside
    class="navbar p-0 navbar-expand-lg flex-column align-items-start col-lg-auto bg-white rounded-2"
  >
    <p
      class="d-none d-lg-block text-dark-emphasis text-decoration-none h-fit-content fw-medium fs-5 px-2 px-lg-3"
    >
      Category
    </p>
    <div
      class="offcanvas offcanvas-start d-lg-block"
      tabindex="-1"
      id="category"
      aria-labelledby="categoryLabel"
    >
      <div class="offcanvas-header">
        <p class="offcanvas-title fs-5" id="categoryLabel">Category</p>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul
          class="navbar-nav flex-column gap-2 text-start"
          ng-if="categoryList"
        >
          <li
            ng-repeat="category in categoryList"
            class="nav-item link-opacity-75-hover hover-category px-3"
          >
            <a class="nav-link w-100" href="#!products/{{category}}"
              ><span>
                <img
                  src="./src/img/category/{{category}}.jpg"
                  class="rounded-3"
                  style="width: 3rem; height: 3rem; object-fit: cover"
                  alt=""
                />
              </span>
              {{(category.charAt(0).toUpperCase() +
              category.slice(1)).replace('-'," ")}}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </aside>

  <!-- MOBILE CATEGORY -->
  <button
    class="d-lg-none position-fixed start-0 btn rounded-end-5 py-2 px-1 bg-sub text-white d-flex align-items-center gap-1 w-fit-content"
    style="z-index: 10"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#category"
    aria-controls="category"
  >
    <i class="fs-5 fa-solid fa-layer-group"></i>
    <span class="d-none d-md-block fw-medium">category</span>
    <i class="d-block d-md-none fa-solid fa-caret-right"></i>
  </button>

  <main class="col">
    <!-- BANNER -->
    <section id="banner-container" class="bg-white rounded-2 p-2 p-lg-3">
      <div id="banner" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#banner"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#banner"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#banner"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#banner"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
        </div>
        <div class="carousel-inner">
          <div
            class="carousel-item"
            ng-class="{'active':banner.active}"
            ng-repeat="banner in banners"
          >
            <a href="{{banner.link}}">
              <img
                src="{{banner.image}}"
                class="d-block w-100 object-fit-cover rounded-2"
              />
            </a>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#banner"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <!-- SALE  -->
    <section id="sale-container" class="bg-white rounded-2 p-2 p-lg-3 mt-3">
      <div class="d-flex align-items-center gap-2">
        <span class="fw-medium fs-5 text-secondary-emphasis"
          >Best sale off today</span
        >
        <strong class="text-secondary d-flex align-items-center gap-1">
          <span class="text-bg-danger text-white px-1 rounded-2"
            >{{ countdown.hours }}</span
          >
          :
          <span class="text-bg-danger text-white px-1 rounded-2"
            >{{ countdown.minutes }}</span
          >
          :
          <span class="text-bg-danger text-white px-1 rounded-2"
            >{{ countdown.seconds }}</span
          >
        </strong>
      </div>
      <div id="sale" class="carousel slide">
        <div class="carousel-inner">
          <div
            class="carousel-item"
            ng-class="{'active': $index == 0}"
            ng-repeat="product_chunk in saleProducts"
          >
            <div
              class="row row-cols-2 row-cols-md-3 row-cols-xl-6 gx-2 gx-md-3"
            >
              <div class="col" ng-repeat="p in product_chunk">
                <div
                  class="card border-0 position-relative"
                  style="min-height: 100%"
                >
                  <span
                    class="sale-discount position-absolute text-danger fw-medium rounded-1"
                    style="
                      font-size: 0.85rem;
                      background-color: #ffdde0;
                      transform: translate(0.5rem, 0.5rem);
                    "
                    >-{{p.discountPercentage | number: 0}}%</span
                  >
                  <img
                    src="{{p.thumbnail}}"
                    class="card-img-top flex-grow-1 img-fluid object-fit-cover rounded-2"
                    maintain-ratio
                    width="100%"
                    style="height: 160px"
                    alt=""
                  />
                  <div class="card-body flex-grow-0">
                    <div
                      class="text-danger text-center fw-medium fs-5 text-nowrap overflow-hidden"
                      style="text-overflow: ellipsis"
                    >
                      ${{(p.price * p.discountPercentage | number:
                      1).replace(".0","")}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#sale"
          data-bs-slide="prev"
          style="left: -5% !important"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#sale"
          data-bs-slide="next"
          style="right: -5% !important"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <!-- DAILY-SUGGESTION -->
    <!-- <section id="daily-suggestion" class="row row-cols-4 row-gap-4">
      <div class="col hover-bounce" ng-repeat="p in viewProducts">
        <a href="" class="card text-decoration-none">
          <img
            src="{{p.thumbnail}}"
            class="card-img-top object-fit-cover"
            height="172"
            alt="..."
          />
          <div class="card-body">
            <p
              class="text-dark m-0 text-nowrap overflow-hidden"
              style="text-overflow: ellipsis"
            >
              {{p.title}}
            </p>
            <span class="text-body-secondary small">{{p.brand}}</span>

            <p class="text-dark-emphasis mt-2 fw-medium m-0">
              {{p.price | currency}}
            </p>
          </div>
        </a>
      </div>
    </section> -->
  </main>
</div>
