<div class="row gx-3">
  <aside
    class="navbar p-0 navbar-expand-lg flex-column align-items-start col-lg-auto bg-white rounded-2 position-sticky overflow-y-scroll p-lg-3 h-fit-content"
    style="scrollbar-width: none; top: 1rem; z-index: 20"
  >
    <div
      class="offcanvas offcanvas-start d-lg-block"
      tabindex="-1"
      id="category"
      aria-labelledby="categoryLabel"
    >
      <div class="offcanvas-header">
        <!-- <p class="offcanvas-title fs-5" id="categoryLabel">Category</p> -->
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body flex-column gap-3">
        <div class="filter-price_range">
          <label for="" class="text-dark-emphasis fw-medium">Price range</label>
          <div
            class="price_range-inputs text-secondary align-items-center d-flex gap-2"
          >
            <div class="d-flex">
              <input
                type="number"
                style="width: 3.6rem"
                class="form-control priceRange border-light-subtle pe-0 rounded-end-0 border-end-0 shadow-none"
                ng-model="priceRange.from"
                ng-change="shopFilter()"
                placeholder="from"
                ng-blur="priceRange.from = (priceRange.from < 1) ? null : priceRange.from"
              />
              <small
                class="form-control text-secondary opacity-75 ps-0 pe-2 rounded-start-0 border-start-0"
                >$</small
              >
            </div>
            <span class="fs-5">-</span>
            <div class="d-flex">
              <input
                type="number"
                style="width: 3.6rem"
                class="form-control priceRange border-light-subtle pe-0 rounded-end-0 border-end-0 shadow-none"
                ng-model="priceRange.to"
                ng-change="shopFilter()"
                placeholder="to"
                ng-blur="priceRange.to = (priceRange.to < 1) ? null : priceRange.to"
              />
              <small
                class="form-control text-secondary opacity-75 ps-0 pe-2 rounded-start-0 border-start-0"
                >$</small
              >
            </div>
          </div>
          <!-- <div class="text-center">
            <button
              class="btn py-0 w-75 mt-2"
              ng-class="priceRange.from || priceRange.to ? 'btn-secondary' : 'btn-outline-secondary'"
              ng-disabled="!(priceRange.from || priceRange.to)"
              ng-click="shopFilter()"
            >
              <small>Apply</small>
            </button>
          </div> -->
        </div>
        <div class="filter-category">
          <label class="text-dark-emphasis fw-medium">Category</label>
          <ul class="navbar-nav flex-column text-start" ng-if="categoryList">
            <li
              ng-repeat="category in categoryList"
              class="nav-item d-flex gap-2 text-secondary"
            >
              <input
                id="checkbox-{{category}}"
                type="checkbox"
                ng-model="categorize[category]"
                class="form-check"
                ng-change="shopFilter()"
              />
              <label for="checkbox-{{category}}"
                >{{(category.charAt(0).toUpperCase() +
                category.slice(1)).replace('-'," ")}}</label
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </aside>

  <!-- MOBILE CATEGORY -->
  <button
    class="d-lg-none position-fixed start-0 btn rounded-end-5 py-2 px-1 bg-sub text-white d-flex align-items-center gap-1 w-fit-content"
    style="z-index: 10"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#category"
    aria-controls="category"
  >
    <i class="fa-solid fa-filter"></i>
    <span class="d-none d-md-block fw-medium">FILTER</span>
    <i class="d-block d-md-none fa-solid fa-caret-right"></i>
  </button>

  <main class="col">
    <!-- start main -->
    <div
      class="bg-white rounded-2 p-3 d-flex justify-content-between align-items-center"
    >
      <div class="d-flex flex-column flex-md-row gap-2 gap-md-4">
        <div class="">
          <label for="sortBy" class="fw-medium">Sort by</label>
          <select
            class="form-select-sm w-fit-content border-secondary-subtle ps-1"
            id="sortBy"
            ng-model="sortBy"
            ng-init="sortBy = 'id'"
            ng-options="option.value as option.text for option in sortOptions"
          ></select>
        </div>
        <div class="">
          <label for="sortOrder" class="fw-medium">Order</label>
          <select
            class="form-select-sm w-fit-content border-secondary-subtle ps-1"
            id="sortOrder"
            ng-init="sortOrder = '-'"
            ng-model="sortOrder"
          >
            <option value="-">Descending</option>
            <option value="">Ascending</option>
          </select>
        </div>
      </div>
      <div class="top-paginating">
        <button
          class="btn fs-4 fw-medium border-0"
          ng-click="paginating(begin - 20)"
          ng-class="{'text-secondary text-opacity-50': !begin}"
          ng-disabled="!begin"
        >
          <i class="fa-solid fa-angle-left"></i>
        </button>
        <button
          class="btn fs-4 fw-medium border-0"
          ng-class="{'text-secondary text-opacity-50': begin == (pageCount - 1) * 20 }"
          ng-click="paginating(begin + 20)"
          ng-disabled="begin == (pageCount - 1) * 20 "
        >
          <i class="fa-solid fa-angle-right"></i>
        </button>
      </div>
    </div>

    <div class="rounded-2 mt-2">
      <div class="row row-cols-2 row-cols-md-4 row-cols-xl-5 g-2">
        <div
          class="col"
          ng-repeat="p in filteredProducts = (filteredProducts | filter: shopFilter) | orderBy: sortOrder + sortBy | limitTo: 20:begin"
        >
          <a
            href="#!products/{{p.id}}"
            class="card border-0 rounded-1 position-relative text-decoration-none h-100"
          >
            <div class="img-container position-relative">
              <img
                src="{{p.thumbnail}}"
                class="card-img-top img-fluid object-fit-cover"
                maintain-ratio
                width="100%"
                style="height: 160px"
                alt=""
              />
              <span
                class="position-absolute text-secondary bg-light end-0 px-1 rounded-start-1"
                style="font-size: 0.7rem; top: 0.5rem"
                >-{{p.discountPercentage}}%</span
              >
            </div>
            <div
              class="card-body d-flex flex-column justify-content-between p-2"
            >
              <div
                class="small text-primary fw-normal text-nowrap overflow-hidden"
                style="text-overflow: ellipsis"
              >
                <span class="bg-primary-subtle px-1 rounded-pill"
                  >{{p.brand}}</span
                >
              </div>
              <div class="small text-dark-emphasis mt-2 line-clamp-2">
                {{p.title}}
              </div>
              <div class="d-flex gap-1" style="font-size: 0.7rem">
                <div
                  class="progress"
                  role="progressbar"
                  aria-valuenow="{{(p.rating / 5) * 100}}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="background-clip: text"
                >
                  <div
                    class="progress-bar bg-yellow d-flex flex-row rounded-0 align-items-center justify-content-start"
                    ng-style="{'width': ((p.rating / 5) * 100) + '%'}"
                    style="background-clip: text; color: transparent"
                  >
                    <i class="fa-solid fa-star"></i
                    ><i class="fa-solid fa-star"></i
                    ><i class="fa-solid fa-star"></i
                    ><i class="fa-solid fa-star"></i
                    ><i class="fa-solid fa-star"></i>
                  </div>
                </div>

                <span class="text-secondary"> {{p.rating}} </span>
              </div>
              <div class="mt-2 fs-3">
                <span class="fw-medium">
                  {{p.price - (p.price * p.discountPercentage / 100) | number:
                  2}}</span
                ><sup>$</sup>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <nav class="mt-3">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <button
            class="page-link shadow-none"
            ng-click="paginating(begin - 20)"
            ng-class="{'disabled': !begin}"
          >
            Previous
          </button>
        </li>
        <li class="page-item" ng-repeat="count in paginationCount">
          <button
            class="page-link shadow-none"
            ng-class="{'active':begin == $index * 20}"
            ng-click="paginating($index * 20)"
          >
            {{count}}
          </button>
        </li>
        <li class="page-item">
          <button
            class="page-link shadow-none"
            ng-class="{'disabled': begin == (pageCount - 1) * 20 }"
            ng-click="paginating(begin + 20)"
          >
            Next
          </button>
        </li>
      </ul>
    </nav>
    <!-- end main -->
  </main>
</div>
