:root {
  --accent_color: #1da0c3;
  --sub_color: #aaddff;
  --sub_color-rgb: 170, 221, 255;
  --tertiary_color: #477987;
  --star-color: #ffc70d;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.line-clamp-2 {
  -webkit-line-clamp: 2;
}
.hover-underline:hover {
  color: var(--sub_color);
  text-decoration: underline !important;
}
.hover-bounce,
.header-inactive {
  transition: transform ease 0.3s;
}
.hover-bounce:hover,
.header-inactive:hover {
  transform: translateY(-6%);
}

.hover-bg-gray:hover {
  background-color: rgba(185, 185, 185, 0.1) !important;
}

.hover-accent:hover,
.header-inactive:hover {
  color: var(--accent_color) !important;
}

.hover-category:hover {
  transition: all ease-out 0.2s;
  transform: translateX(-0.6rem);
  font-weight: medium;
  /* scale: 1.05; */
}

.tab-btn.active {
  background-color: rgba(var(--sub_color-rgb), 0.2) !important;
  border-bottom: 2px solid var(--accent_color) !important;
}

.w-fit-content {
  width: fit-content !important;
}
.h-fit-content {
  height: fit-content !important;
}
.text-accent {
  color: var(--accent_color) !important;
}
.text-sub {
  color: var(--sub_color) !important;
}
.bg-accent {
  background-color: var(--accent_color) !important;
}
.bg-sub {
  background-color: var(--sub_color) !important;
}
.bg-tertiary {
  background-color: var(--tertiary_color) !important;
}
.bg-wall {
  background-color: #f5f5fa !important;
}

.text-yellow {
  color: var(--star-color) !important;
}
.bg-yellow {
  background-color: var(--star-color) !important;
}

/*============================*/
/*-----------UTILITY-----------*/
/*============================*/
#header {
  max-height: 3.5rem;
}

.header-logo {
  height: 2.5rem;
}
.header-logo img {
  max-height: 100%;
}
.search input::placeholder,
.search button {
  color: rgba(22, 17, 19, 0.6);
  font-size: 14px;
}
.search input:focus {
  box-shadow: none;
}

.search button {
  font-size: 1.2rem;
}

/*============================*/
/*-----------HEADER-----------*/
/*============================*/

.images-nav:has(.active) img {
  border: 2px solid cornflowerblue;
}
.images-nav :not(.active) img {
  transition: 0.3s ease all;
  opacity: 0.6;
}
.images-nav:hover img {
  opacity: 1;
}
